*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    margin: 0;
    background: linear-gradient(
        #ffffff,
        #242424
    ) 0 100% no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* NFT Images */
.nft-wrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#left-nft{
    margin-right: 5%;
    height: 360px;
    max-width: 100%;
}
#right-nft{
    margin-left: 5%;
    height: 360px;
    max-width: 100%;
}

/* Total Vote Amounts */
.tallys{
    font-size: 16px;
    font-weight: 500;
    margin: auto;
    font-family: "Poppins",sans-serif;
    padding: 1px 0;
    text-align: center;
}
#leftTotal{
    display: inline-block;
    margin-right: 12.5%;
}
#rightTotal{
    display: inline-block;
    margin-left: 12.5%;
}


/* Menu Container */
.container{
    width: 400px;
    padding: 15px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 83%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(50,50,50,0.15);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins",sans-serif;
    text-align: center;
}


/* ----- Dice Image Properties ----- */
.dice-wrapper{
    display: block;
    align-items: center;
}
#die-1{
    height: 100px;
    margin-right: 5%;
    margin-bottom: 3%;
}
#die-2{
    height: 100px;
    margin-left: 5%;
    margin-bottom: 3%;
}

/* Image Shake Behavior */
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(15deg);
    }
}


/* Button Properties */
button{
    background-color: #303030;
    box-shadow: 0 6px #999;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    width: 170px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
}
button:hover{
    background-color: #141414;
}
button:active {
    background-color: #141414;
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}


/* Vote Selection Radio Buttons */
input[type="radio"]{
    display: none;
    opacity: 0;
}
.vote-selection{
    display: inline-flex;
    transform: translate(8%, -20%);
    height: 80px;
    width: 585px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 20px 15px;
    margin-left: 28%;
}
.vote-selection .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}
#leftVote ~ .leftVote{
    text-align: center;
    margin-right: 55%;
}
#leftVote:checked:checked ~ .leftVote,
#rightVote:checked:checked ~ .rightVote{
    border-color: #303030;
    background: #303030;
}
.vote-selection .option span{
    font-size: 1vw;
    text-align: center;
    margin-left: 10%;
    font-family: "Poppins",sans-serif;
    color: #808080;
}
#leftVote:checked:checked ~ .leftVote span,
#rightVote:checked:checked ~ .rightVote span{
    color: #fff;
}


/* Amount Rolled Properties */
#rolledNum {
    font-size: 16px;
    font-weight: 500;
    display: inline;
    padding: 1px 0;
    width: 150px;
    text-align: center;
    opacity: 0;
    transition: 1s;
}
#rolledNum.fade-in {
    opacity: 1;
    transition: 1s;
}