*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    margin: 0;
    background: linear-gradient(
        #ffffff,
        #242424
    ) 0 100% no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container{
    width: 500px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(50,50,50,0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins",sans-serif;
    text-align: center;
}
.dice-wrapper{
    width: 60%;
    margin-left: 19%;
    display: flex;
    justify-content: space-between;
}
.tallys{
    font-size: 16px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    margin-bottom: 4%;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    padding: 1px 0;
    text-align: center;
}
.adding{
    font-size: 16px;
    font-weight: 500;
    display: inline;
    padding: 1px 0;
    text-align: center;
}
span {
    width: 120px;
    height: 20px;
    background: white;
  }
button{
    background-color: #303030;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    width: 140px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;

}
.power-ups {
    text-align: center;
    margin-top: 5%;
    font-family: "Poppins",sans-serif;
}
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}
#rolledNum {
    display: inline;
    margin-left: 40px;
    margin-top: 20px;
    width: 150px;
    height: 80px;
    float: left;
    opacity: 0;
    transition: 1s;
}
#rolledNum.fade-in {
    opacity: 1;
    transition: 1s;
}
#rightRolledNum {
    display: inline;
    margin-left: 25px;
    margin-top: 20px;
    width: 150px;
    height: 80px;
    float: left;
    opacity: 0;
    transition: 1s;
}
#rightRolledNum.fade-in {
    opacity: 1;
    transition: 1s;
}